<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN">

<mapper namespace="top.geomatics.ips.server.UserDao">
    <insert id="register"  parameterType="top.geomatics.ips.server.model.User">
        insert into t_user(username,password) values(#{username},#{password})
    </insert>

    <select id="login" resultType="top.geomatics.ips.server.model.User">
        select * from t_user order by user_id desc
    </select>

    <update id="reset" parameterType="top.geomatics.ips.server.model.User">
        update t_user
        <set>
            <if test="username != null">username=#{username},</if>
            <if test="password != null">update_time=#{password},</if>
        </set>
        where user_id=#{userId}
    </update>

    <delete id="delete">
        delete from t_user where user_id=#{userId}
    </delete>
</mapper>
